
{% include 'head.html' %}

<!-- Content -->
<div class="container">
   <!--Grid row-->
   <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left">
         <!--Card-->
         <div class="card">
            <!--Card content-->
            <div class="card-body">
               <!-- Main heading -->
               <h1 class="animated fadeIn text-muted">WELCOME</h1>
               <p class="animated fadeIn text-muted">This is the registry of Service Dogs and Handlers. <br><br>Please make your selection using the top menu.
                  Status of service dogs and their certified handlers can be verified without the need to log in.
                  Other services require an active and valid login.
               </p>
               <center>><img src="{{ url_for('static', filename='servicedoglogo.jpg') }}" width="270" /></center>
               <!-- Main heading -->
            </div>
         </div>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left">
         <!--Card-->
         <div class="card">
            <!--Card content-->
            <div class="card-body">
               <h1 class="animated fadeIn text-muted">SESSION STATUS</h1>
               <hr>
                  <h2 class="animated fadeIn text-muted">{{ status }}</h2>
               <br><br>
               <hr>
               <!-- Main heading -->
            </div>
         </div>
      </div>
      <!--Grid column-->
   </div>
   <!--Grid row-->
</div>
<!-- Content -->

{% include 'tail.html' %}
